.home {
  background-color: #00587a;
}

.headline-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  height: 100vh;
}

.top-subheading {
  font-size: 2rem;
}

.heading {
  font-size: 3.5rem;
}

.bottom-subheading {
  font-size: 2.6rem;
}

h2 {
  padding-bottom: 15px;
}

.btn {
  font-family: "Open Sans", sans-serif;
}

.button-icon {
    display: inline-block;
    padding-right: 6px;
    padding-bottom: 4px;
}

.button-content {
    position: relative;
    top: 1px;
}

@media (max-width: 490px) {
  .top-subheading {
    font-size: 1.5rem;
  }
  .heading {
    font-size: 2.75rem;
  }
  .bottom-subheading {
    font-size: 1.75rem;
  }
}

@media (max-width: 340px) {
  .top-subheading {
    font-size: 1rem;
  }
  .heading {
    font-size: 2rem;
  }
  .bottom-subheading {
    font-size: 1.4rem;
  }
}