.home {
    background-color: #00587a;
}

.headline-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    height: 94vh;
}

.headline-container h2 {
    padding-bottom: 10px;
}

.btn {
    font-family: 'Open Sans', sans-serif;
}

