.projects {
    background-color: #00587a;
    padding-top: 40px;
}

.heading {
    padding-top: 20px;
    text-align: center;
}
.project {
    margin: 0px auto;
    padding: 50px 0px;
    max-width: 1500px;
}

.project article {
    border-top: solid 3px #393e46;
    margin-bottom: 2.25rem;
    padding-top: 2.25rem;
}

.project article:first-child {
    border-top: 0;
    padding-top: 0;
}

.image {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 50%;
}

.image img {
    width: 85%;
    opacity: 0.85;
    border-radius: 10px;
}

.image img:hover {
    opacity: 1.0;
}

.image1 {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.image1 img {
    width: 30%;
    margin-left: 17.5px;
    opacity: 0.85;
}

.image1 img:hover {
    opacity: 1.0;
}

.description {
    display: inline-block;
    vertical-align: middle;
    width: 50%
}

@media (max-width: 1060px) {
    .image1 img {
        margin-left: 5px;
    }
}

@media (max-width: 736px) {
    .image, .image1 {
        display: block;
        width: 100%;
    }

    .image1 img {
        margin-left: 10px;
    }

    .description {
        display: block;
        width: 100%;
        margin-top: 20px;
        padding: 0px 10px;
    }
}