.projects {
    background-color: #00587a;
    padding-top: 40px;
}

.heading {
    padding-top: 20px;
    text-align: center;
}
.project {
    margin: 0px auto;
    padding: 50px 0px;
    max-width: 1500px;
}

.project article {
    text-align: center;
    border-top: solid 3px #393e46;
    margin-bottom: 2.25rem;
    padding-top: 2.25rem;
}

.project article:first-child {
    border-top: 0;
    padding-top: 0;
}

.project article .image {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
}

.project article .image img {
    width: 85%;
}

.project article .image1 {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
}

.project article .image1 img {
    width: 30%;
    margin-left: 15px;
}

.project article .description {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 50%
}