.container {
  padding: 13px;
  text-align: center;
}

.footer {
  background-color: transparent;
}

.icon {
  color: #80acbd;
  padding: 0 1px;
}

.footer-icon1 {
  font-size: 23px;
}

.footer-icon2 {
  font-size: 27px;
}

.footer-icon3 {
  font-size: 25px;
}

.icon:hover {
  color: #ceebe9;
}
